.uploadBtn .inputIcon {
    position: relative;
    margin-top: 25px;
}

.uploadBtn .inputWrapper {
    display: flex;
    flex-direction: column;
}

.uploadBtn .inputWrapper > div {
    order: 2;
    margin-top: 20px;
}

.uploadBtn .inputIcon svg {
    background-color: #fff;
    padding: 14px;
    border: 1px solid #7070706e;
    font-size: 22px;
    border-radius: 10px;
    color: #000;
}

.radioButton {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.radioButton > div {
    display: flex;
    margin-bottom: 5px;
    margin-right: 1rem;
}

.radioButton > div label {
    order: 2;
    padding-left: 2px;
}

.promotionalModal h5 {
    font-size: 16px;
    margin-bottom: 10px !important;
}