
.secondaryBtn {
    background-color: #fff;
    color: #0566B7;
}

li.nav-item button {
    border: 1px solid #70707059 !important;
    border-radius: 0 !important;
    border-right: 0 !important;
}

li.nav-item:first-child button {
    border-radius: 5px 0px 0px 5px !important;
}

li.nav-item:last-child button {
    border-radius: 0px 5px 5px 0px !important;
     border-right: 1px solid #70707059 !important;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: transparent;
    background-image: linear-gradient(356deg, #0A54E8, #02184b) !important;
}

.nav-link {
    color: #666666;
    font-size: 14px;
    text-transform: capitalize;
}

.authFormHeader {
    text-align: center;
    margin: 1rem 0;
}