:root {
    --primaryColor: #000F4F;
    --grayColor: #666666;
    --redColor : #ff0000;
    --greenColor: #42C900;
    --yellowColor: #E5BB45;
}

.accordion-item {
    margin-bottom: 20px;
    border: 1px solid #7070703b !important;
    border-radius: 30px !important;
    overflow: hidden;
    background-color: #fff;
}

.accordion-button::after {
    transform: rotate(-90deg);
    color: var(--primaryColor);
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
}

.accordion-header button {
    color: var(--primaryColor);
    font-weight: 800;
} 

.accordion-button:not(.collapsed) {
    color: var(--primaryColor);
    background-color: unset;
    box-shadow: none;
}